## Poin Assignment :
**1.** Lakukan investigasi pada kondisi berikut :
- 1a. Lakukan pengecekan pada kolom mana yang terdapat data continue di dataframe ? (20 poin)
- 1b. Lakukan pengecekan pada kolom mana yang terdapat jenis kategorikal serta Uraikan juga jenis kategorikalnya termasuk kategorikal apa di masing-masing kolom dataframe ? (20 poin)

**2.** Looping
- `for` loop : print semua nama kolom yang ada pada file `titanic.xlsx` yang hanya dimulai dengan huruf konsonan (15 poin)
- `while` loop : print semua angka ganjil hingga `30`. Jika angka ganjil habis dibagi 3, print `"angka ini habis dibagi 3"` (15 poin)

**3** Lakukan manipulasi data `titanic.xlsx` menggunakan `lambda function` sesuai perintah dibawah ini :
1. Hitung jumlah missing value (NaN) pada kolom `body` (15)
2. Ubah female menjadi `0` dan male menjadi `1` pada kolom `sex` (15)

### Note : soal 1,2,3 menggunakan file titanic.csv

In [ ]:
import pandas as pd
data = pd.read_excel('/content/titanic.xlsx') # file excel
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1349 non-null   int64
 1   survived   1349 non-null   int64
 2   name       1349 non-null   object
 3   sex        1349 non-null   object
 4   age        1076 non-null   float64
 5   sibsp      1349 non-null   int64
 6   parch      1349 non-null   int64
 7   ticket     1349 non-null   object
 8   fare       1348 non-null   float64
 9   cabin      296 non-null    object
 10  embarked   1347 non-null   object
 11  boat       487 non-null    object
 12  body       129 non-null    float64
 13  home.dest  748 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 147.7+ KB

In [ ]:
# 1. Infestigasi pada kondisi:
## 1a. Pengecekan kolom yang terdapat data continue di dataframe
data_continu = data.select_dtypes(include=['int64','float64'])
print(data_continu)

      pclass  survived      age  sibsp  parch      fare   body
0          1         1  29.0000      0      0  211.3375    NaN
1          1         1   0.9167      1      2  151.5500    NaN
2          1         0   2.0000      1      2  151.5500    NaN
3          1         0  30.0000      1      2  151.5500  135.0
4          1         0  25.0000      1      2  151.5500    NaN
...      ...       ...      ...    ...    ...       ...    ...
1344       3         0  14.5000      1      0   14.4542  328.0
1345       3         0      NaN      1      0   14.4542    NaN
1346       3         0  26.5000      0      0    7.2250  304.0
1347       3         0  27.0000      0      0    7.2250    NaN
1348       3         0  29.0000      0      0    7.8750    NaN

[1349 rows x 7 columns]

Berasarkan output, dapat melihat bahwa kolom 'pclass', 'survived', 'age',  'sibsp', 'parch', 'fare' dan 'body' memiliki tipe data numerik (int64 dan float64) sehingga kemungkinan besar berisi data kontinu.

In [ ]:
## 1b. Pengecekan kolom yang terdapat data kategorikal
data_category = data.select_dtypes(include=['object', 'category'])
print(data_category)

                                                 name     sex  ticket  \
0                       Allen, Miss. Elisabeth Walton  female   24160
1                      Allison, Master. Hudson Trevor    male  113781
2                        Allison, Miss. Helen Loraine  female  113781
3                Allison, Mr. Hudson Joshua Creighton    male  113781
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  113781
...                                               ...     ...     ...
1344                             Zabour, Miss. Hileni  female    2665
1345                            Zabour, Miss. Thamine  female    2665
1346                        Zakarian, Mr. Mapriededer    male    2656
1347                              Zakarian, Mr. Ortin    male    2670
1348                               Zimmerman, Mr. Leo    male  315082

        cabin embarked boat                        home.dest
0          B5        S    2                     St Louis, MO
1     C22 C26        S   11  Montreal, PQ / Chesterville, ON
2     C22 C26        S  NaN  Montreal, PQ / Chesterville, ON
3     C22 C26        S  NaN  Montreal, PQ / Chesterville, ON
4     C22 C26        S  NaN  Montreal, PQ / Chesterville, ON
...       ...      ...  ...                              ...
1344      NaN        C  NaN                              NaN
1345      NaN        C  NaN                              NaN
1346      NaN        C  NaN                              NaN
1347      NaN        C  NaN                              NaN
1348      NaN        S  NaN                              NaN

[1349 rows x 7 columns]

Berasarkan output, dapat melihat bahwa kolom ''name', 'sex', 'ticket', 'cabin', 'embarked', 'boat' dan'home.dest' memiliki tipe data kategorik.

Data kategorikal merupakan jenis data yang dapat dibagi menjadi beberapa kategori atau kelompok. Ada dua jenis utama data kategorikal: nominal dan ordinal. Data nominal tidak memiliki urutan, sementara data ordinal memiliki urutan atau peringkat.

Pada kolom data yang termasuk dalam data kategorik nominal adalah kolom 'name','sex', 'embarked' dan 'home.dest'. Sedangkan yang termasuk dalam data kategorik ordinal adalah 'ticket','cabin' dan 'boat'.

In [ ]:
# 2. Looping
## 2a. for loop : print semua nama kolom yang ada pada file titanic.xlsx yang hanya dimulai dengan huruf konsonan
def print_kolom_konsonan(data):
    """
    Mencetak nama kolom pada file yang dimulai dengan huruf konsonan.

    Args:
        file_path (str): Path ke file CSV.
    """
    try:
        df = pd.read_excel('/content/titanic.xlsx')
        for kolom in df.columns:
            if kolom[0].lower() not in 'aiueo':
                print(kolom)
    except FileNotFoundError:
        print(f"Error: File tidak ditemukan pada path: {df}")
    except pd.errors.EmptyDataError:
        print(f"Error: File kosong atau tidak ada data pada: {df}")
    except Exception as e:
        print(f"Terjadi kesalahan: {e}")


# Contoh penggunaan:
file_path = 'titanic.xlsx'  # Ganti dengan path file Anda
print_kolom_konsonan(file_path)

pclass
survived
name
sex
sibsp
parch
ticket
fare
cabin
boat
body
home.dest

In [ ]:
## 2b. while loop : print semua angka ganjil hingga 30. Jika angka ganjil habis dibagi 3, print "angka ini habis dibagi 3"
angka = 1
while angka <= 30:
    if angka % 2 != 0:
        print(angka, end=" ")
        if angka % 3 == 0:
            print("angka ini habis dibagi 3")
        else:
           print() # Pindah baris
    angka += 1

1
3 angka ini habis dibagi 3
5
7
9 angka ini habis dibagi 3
11
13
15 angka ini habis dibagi 3
17
19
21 angka ini habis dibagi 3
23
25
27 angka ini habis dibagi 3
29

In [ ]:
# 3. Manipulasi data titanic.xlsx menggunakan lambda function
## 3a. Jumlah missing value (NaN) pada kolom body
body = data['body'].isna().sum()
print(f"Jumlah missing values pada kolom body: {body}")

Jumlah missing values pada kolom body: 1220

In [ ]:
## 3b. Ubah female menjadi 0 dan male menjadi 1 pada kolom sex
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
gender = data['sex'].replace({"female": 0, "male": 1})
data['sex'] = labelencoder.fit_transform(gender)
print(data['sex'])

0       0
1       1
2       0
3       1
4       0
       ..
1344    0
1345    0
1346    1
1347    1
1348    1
Name: sex, Length: 1349, dtype: int64

/tmp/ipython-input-20-2461232729.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gender = data['sex'].replace({"female": 0, "male": 1})